.wrapper {
    font-size: 1.4rem;
    padding: 3px 12px;
    cursor: pointer;

    &:hover {
        background: #f0f2f2;
        outline: #d5d9d9 solid 1px;
    }
}
.checked {
    border: 3px solid #007185;
    padding: 0px 9px;
    background: #edfdff;
}
