@import 'normalize.css';

:root {
    --black: #0f1111;
    --white: #fff;
    --text-color: #444444;

    --font-family: 'TikTokFont', san-serif;

    --default-layout-header-height: 100px;
    --default-layout-width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

// Fonts embeded
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

// Loại bỏ CSS mặc định của thẻ button, input, a
button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}
