.wrapper {
    --left-side-width: 34.5%;
    --right-side-width: 244px;
    --light-gray: #bbbfbf;
    --green: #007600;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1500px;
    background-color: var(--white);
}

.no-product {
    flex-grow: 1;
    text-align: center;
    margin-top: 24px;
    user-select: none;
}

.container {
    margin-top: 28px;
    min-width: 996px;
    padding: 14px 18px 18px;
}

.content {
    display: flex;
}

// Left side
.left-side {
    width: var(--left-side-width);
}

.left-side-content {
    display: flex;
    padding-left: 40px;
}

.alt-image {
    width: 40px;
    margin-left: -40px;
}

.alt-image-list {
    margin-top: 4px;
    list-style: none;
}

.alt-image-item {
    margin-bottom: 8px;
    position: relative;

    span {
        display: block;
        padding: 4px;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid var(--dark-green);
    }

    img {
        min-width: 5px;
        width: 100%;
        height: 100%;
    }
}

.alt-image-input {
    position: absolute;
    background-color: transparent;
    color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:focus {
        outline: 3px solid #007185;
        outline-offset: 2px;
        box-shadow: none;
        border-radius: 8px;
    }
}

.center-image {
    padding-left: 1%;
    width: 100%;
    height: 480px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.center-image-item {
    display: block;
    margin-top: 20px;
    cursor: pointer;
    img {
        max-height: 460px;
        max-width: 460px;
        min-width: 230px;
        min-height: 230px;
    }
}

// Main side
.main-side {
    width: calc(100% - var(--left-side-width) - var(--right-side-width));
}

.main-side-content {
    margin: 0 24px;
}

.main-header {
    h1 {
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        white-space: normal;
        letter-spacing: normal;
        text-align: left;
        word-wrap: break-word;
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 400;
        color: var(black);
    }
}

.main-brand {
    display: block;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--dark-green);
    cursor: pointer;

    &:hover {
        color: var(--orange);
        text-decoration: underline;
    }
}

.main-rating {
    display: flex;
    margin-top: -8px;
    align-items: flex-end;

    span:nth-child(3) {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--dark-green);
        margin-left: 12px;
        cursor: pointer;

        &:hover {
            color: var(--orange);
            text-decoration: underline;
        }
    }
}

.main-rating-count {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    vertical-align: bottom;
    color: var(--dark-green);
    padding: 0 13px 0 32px;
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 3px;
        bottom: 3px;
        right: 0;
        border-right: 1px solid var(--gray);
    }

    &:hover {
        color: var(--orange);
        text-decoration: underline;
    }
}

.main-choice {
    display: flex;
    align-items: center;
    margin-top: 4px;

    span:last-child {
        margin-left: 10px;
        margin-bottom: 8px;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--black);
    }
}

.choice-group {
    background-color: var(--black);
    line-height: 2.4rem;
    padding: 0 20px 0 10px;
    margin-bottom: 12px;
    position: relative;

    span:first-child {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--white);
    }

    span:last-child {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--orange);
    }

    &::before {
        content: '';
        position: absolute;
        right: -12px;
        top: -24px;
        border-width: 25px 12px;
        border-style: solid;
        border-color: transparent transparent var(--white) transparent;
        cursor: pointer;
    }
}
.choice-tooltip-wrapper {
    padding: 8px 20px;
    text-align: left;
    border-radius: 8px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 49%;
        height: 12px;
        width: 12px;
        rotate: 45deg;
        border-right: 1px solid var(--light-gray);
        border-bottom: 1px solid var(--light-gray);
        background-color: var(--white);
        cursor: pointer;
    }
}

.choice-tooltip {
    span {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.4rem;
        color: var(--black);
    }
}

.main-bought {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: var(--black);
}

.main-deal {
    display: inline-block;
    margin-top: 16px;
    padding: 4px 9px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    border-radius: 4px;
    background-color: var(--red);
}

.main-price-group {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.main-sale-off {
    display: block;
    font-size: 2.8rem;
    color: var(--red);
}

.main-price {
    display: inline-block;
    position: relative;
    margin-left: 12px;
    padding-left: 8px;

    span:first-child {
        font-size: 1.4rem;
        position: absolute;
        top: 6px;
        left: 0;
    }
    span:last-child {
        font-size: 2.8rem;
        font-weight: 600;
    }
}

.main-typical-price {
    position: relative;

    span {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--gray);
    }

    span:last-child {
        text-decoration: line-through;
    }
}

.typical-price-icon {
    font-size: 1.2rem;
    color: #969696;
    margin-left: 4px;
    cursor: pointer;
    padding: 2px 0;
    margin-left: 6px;
    position: absolute;
    top: 5px;

    &:hover {
        outline: 3px solid #007185;
        outline-offset: 2px;
        box-shadow: none;
        border-radius: 8px;
    }
}

.typical-popover {
    max-width: 440px;
}

.typical-wrapper {
    padding: 14px 20px;
    text-align: left;
    border-radius: 8px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -7px;
        left: 49%;
        height: 12px;
        width: 12px;
        rotate: 45deg;
        border-top: 1px solid var(--light-gray);
        border-left: 1px solid var(--light-gray);
        background-color: var(--white);
        cursor: pointer;
    }
}

.typical-text,
.typical-learn-more {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);
}

.typical-learn-more {
    color: var(--dark-green);
    cursor: pointer;

    &:hover {
        color: var(--orange);
        text-decoration: underline;
    }
}

.main-free-return {
    display: inline-block;
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--dark-green);
    cursor: pointer;

    span:first-child {
        &:hover {
            color: var(--orange);
        }
    }

    &:hover {
        outline: 3px solid #007185;
        outline-offset: 3px;
        box-shadow: none;
        border-radius: 8px;
    }
}

.free-return-icon {
    font-size: 1.4rem;
    color: var(--black);
    margin-left: 5px;
    cursor: pointer;
}

.return-popover {
    max-width: 300px;
}

.return-wrapper {
    padding: 14px 20px;
    text-align: left;
    border-radius: 8px;
    position: relative;

    h4 {
        font-size: 1.4rem;
        margin-bottom: 12px;
    }

    &::before {
        content: '';
        position: absolute;
        top: -7px;
        left: 49%;
        height: 12px;
        width: 12px;
        rotate: 45deg;
        border-top: 1px solid var(--light-gray);
        border-left: 1px solid var(--light-gray);
        background-color: var(--white);
        cursor: pointer;
    }
}

.return-text,
.return-learn-more {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);
}

.return-learn-more {
    color: var(--dark-green);
    cursor: pointer;

    &:hover {
        color: var(--orange);
        text-decoration: underline;
    }
}

.main-ship {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--gray);
}

.detail-tippy-wrapper {
    display: inline-block;
}

.main-ship-detail {
    display: inline-block;
    margin-left: 8px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--dark-green);
    cursor: pointer;

    span:first-child {
        &:hover {
            color: var(--orange);
        }
    }

    &:hover {
        outline: 3px solid #007185;
        outline-offset: 3px;
        box-shadow: none;
        border-radius: 8px;
    }
}

.detail-popover {
    width: 350px;
}

.detail-wrapper {
    padding: 14px 20px;
    text-align: left;
    border-radius: 8px;
    position: relative;

    h3 {
        margin-bottom: 8px;
        color: var(--black);
    }

    &::before {
        content: '';
        position: absolute;
        top: -7px;
        left: 49%;
        height: 12px;
        width: 12px;
        rotate: 45deg;
        border-top: 1px solid var(--light-gray);
        border-left: 1px solid var(--light-gray);
        background-color: var(--white);
        cursor: pointer;
    }
}

.detail-group {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 10px 0;
}

.detail-left {
    display: flex;
    flex-direction: column;

    span {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--gray);
    }

    span:last-child {
        color: var(--dark-green);
        cursor: pointer;

        &:hover {
            color: var(--orange);
            text-decoration: underline;
        }
    }
}

.detail-right {
    display: flex;
    flex-direction: column;

    span {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--black);
    }
}

.total-group {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.total-left {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--gray);
}

.total-right {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);
}

.main-available {
    margin-top: 2px;
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--black);
}

.main-extra-saving {
    display: inline-flex;
    align-items: center;
    margin: 12px 0 8px 0;
    cursor: pointer;

    .extra-first-text {
        margin-right: 4px;
        padding: 2px 8px;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 4px;
        color: var(--white);
        background-color: #eda93a;
    }

    span:nth-child(2) {
        font-size: 1.4rem;
        line-height: 2rem;
        color: var(--dark-green);

        &:hover {
            color: var(--orange);
        }
    }

    &:hover {
        outline: 3px solid #007185;
        outline-offset: 3px;
        box-shadow: none;
        border-radius: 8px;
    }
}

.extra-popover {
    max-width: 440px;
}

.extra-wrapper {
    display: flex;
    flex-direction: row;
    padding: 14px 20px;
    text-align: left;
    border-radius: 8px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -7px;
        left: 49%;
        height: 12px;
        width: 12px;
        rotate: 45deg;
        border-top: 1px solid var(--light-gray);
        border-left: 1px solid var(--light-gray);
        background-color: var(--white);
        cursor: pointer;
    }
}

.extra-text,
.extra-learn-more {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);
}

.extra-text {
    margin-left: 8px;
}

.extra-learn-more {
    margin-left: 8px;
    color: var(--dark-green);
    cursor: pointer;

    &:hover {
        color: var(--orange);
        text-decoration: underline;
    }
}

.main-promotion {
    margin-left: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--dark-green);

    &:hover {
        color: var(--orange);
    }
}

.main-color {
    display: block;
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--gray);

    span {
        margin-top: 8px;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2rem;
        color: var(--black);
    }
}

.main-color-choose {
    display: flex;
    margin: 12px 0 20px 0;
}

.active-color {
    outline: 2px solid #007185;
    border-radius: 8px;
}

.black-color,
.silver-color {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.main-specification-title {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 6px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--black);

    span {
        display: block;
        margin-bottom: 5px;
    }
}

.main-specification-text {
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 6px;
    color: var(--black);

    span {
        display: block;
        margin-bottom: 5px;
    }
}

.main-about {
    margin-top: 18px;

    h4 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2rem;
    }
}

.main-about-list {
    margin: 6px 0px 18px 20px;

    li {
        margin-bottom: 4px;
        font-size: 1.4rem;
        color: var(--black);
    }
}

.main-report {
    span {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--dark-green);
        cursor: pointer;

        &:hover {
            color: var(--orange);
            text-decoration: underline;
        }
    }
}

.main-report-icon {
    color: var(--gray);
    font-size: 1.8rem;
    margin-right: 8px;
    margin-left: 4px;
}

.main-note {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--black);

    span {
        font-weight: 400;
        margin-left: 6px;
    }
}

// Right side
.right-side {
    width: var(--right-side-width);
    padding: 14px 18px;
    border: 1px solid var(--light-gray);
    max-height: 644px;
}

.right-content {
    height: 100%;
}

.right-price {
    display: inline-block;
    position: relative;
    padding-left: 8px;

    span:first-child {
        font-size: 1.4rem;
        position: absolute;
        top: 6px;
        left: 0;
    }
    span:last-child {
        font-size: 2.8rem;
        font-weight: 600;
    }
}

.right-claim {
    display: flex;
    align-items: center;

    span {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--black);
    }
}

.claim-group {
    margin-left: 12px;
    height: 4px;
    flex: 1;
    background-color: var(--light-gray);
}

.claim-percent {
    height: 100%;
    width: 27%;
    background-color: var(--black);
}

.right-delivery-day {
    span {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--black);
    }

    span:last-child {
        margin-left: 4px;
        font-weight: 700;
    }
}

.right-order {
    span {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--black);
    }

    span:last-child {
        margin-left: 4px;
        color: var(--green);
    }
}

.right-location {
    margin: 12px 0;

    span {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--dark-green);

        &:hover {
            color: var(--orange);
        }
    }
}

.right-location-icon {
    font-size: 1.5rem;
    color: var(--light-gray);
    margin-right: 8px;
}

.right-stock {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--green);
    margin-bottom: 12px;
}

.right-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    color: #0f1111;
    background: #f0f2f2;
    cursor: pointer;

    span {
        font-size: 1.3rem;
        line-height: 2.9rem;
        font-weight: 600;
    }

    &:hover {
        background: #e3e6e6;
        outline: 3px solid #007185;
        outline-offset: 2px;
        box-shadow: none;
        border-radius: 8px;
    }
}

.right-quantity-icon {
    font-size: 1.3rem;
}
.quantity-tippy-wrapper {
    position: relative;

    div:nth-child(2) {
        width: 100%;
    }
}
.quantity-popover {
    width: 100%;
}

.quantity-wrapper {
    padding: 0;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 140px;
}

.quantity-content {
    padding: 8px 0;
    background-color: var(--white);
}

.quantity-item {
    padding: 0 16px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    cursor: pointer;

    &:hover {
        background-color: #f0f2f2;
    }
}

.quantity-active {
    background-color: #edfdff;
    border: 3px solid var(--dark-green);

    span {
        margin: -3px;
    }
}

.right-add-btn,
.right-buy-btn {
    margin-top: 14px;
    height: 32px;
    border-radius: 99px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}

.right-add-btn {
    background-color: var(--yellow);

    &:hover {
        background: #f7ca00;
        border-color: #f7ca00;
    }
}

.right-buy-btn {
    background: #ffa41c;
    border-color: #ffa41c;

    &:hover {
        background: #fa8900;
        border-color: #fa8900;
    }
}

.right-table-group {
    display: flex;
    width: 100%;
    margin-bottom: 14px;
}

.right-left-col {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--gray);

    span:nth-child(3) {
        margin-bottom: 18px;
    }
}

.right-right-col {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--green);

    span:nth-child(3),
    span:nth-child(5),
    span:nth-child(6),
    span:nth-child(7) {
        color: var(--dark-green);
        cursor: pointer;

        &:hover {
            color: var(--orange);
            outline: 3px solid #007185;
            outline-offset: 2px;
            box-shadow: none;
            border-radius: 8px;
        }
    }

    span:nth-child(4) {
        margin-bottom: 18px;
    }
}
