.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container {
    max-width: 100%;
    display: flex;
    width: var(--default-layout-width);
}

.content {
    flex: 1;
}
