.over-lay {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999; // z-index 5 số
}

.modal-close-btn {
    position: fixed;
    left: 378px;
    top: 12px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.wrapper {
    --modal-header-height: 50px;
    --modal-text-color: #111;
    --modal-icon-color: #8a9798;
    background: #fff;
    z-index: 999999; // z-index 6 số
    position: fixed;
    top: 0;
    bottom: 0;
    width: 365px;
    animation: slideIn linear 0.3s;
}

// Modal header
.modal-header {
    height: var(--modal-header-height);
    display: flex;
    align-items: center;
    background: #232f3e;
}

.modal-header-avatar {
    margin: 0 10px 0 36px;
    height: 27px;
}
.modal-header-text {
    color: var(--white);
    white-space: nowrap;
    font-size: 19px;
    max-width: 90%;
    line-height: 25px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Modal content
.modal-content {
    padding: 0px 0 30px 0;
    height: calc(100% - var(--modal-header-height));
    overflow-y: auto; // overflow sinh ra scroll đi kèm với height
}

.content-back-btn {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    line-height: 16px;
    font-weight: 700;
    color: var(--modal-text-color);
    padding: 13px 20px 13px 36px;
    cursor: pointer;

    &:hover {
        background-color: #eaeded;

        .content-back-icon {
            color: var(--modal-text-color);
        }
    }
}

.content-back-icon {
    color: var(--modal-icon-color);
    font-size: 1.8rem;
    margin-right: 8px;
}

.content-item-first-cover {
    margin-bottom: 5px;
    overflow: hidden;
    // max-height: 218px;
}

.content-more-btn,
.content-less-btn {
    width: 100%;
    font-size: 1.4rem;
    line-height: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    text-align: left;
    color: var(--modal-text-color);
    padding: 13px 20px 13px 36px;
    margin: -5px 0px 5px 0px;
    background-color: var(--white);
    cursor: pointer;

    &:hover {
        background-color: #eaeded;

        .content-more-icon,
        .content-less-icon {
            color: #0f1111;
        }
    }
}

.content-more-icon,
.content-less-icon {
    font-size: 1.4rem;
    color: var(--modal-icon-color);
    margin-left: 10px;
}

.content-item-title,
.help-settings-heading {
    padding: 13px 20px 5px 36px;
    margin-top: 7px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--modal-text-color);
}
.content-item-group {
    list-style: none;

    .content-list-item {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 16px;
        padding-bottom: 2px;
        cursor: pointer;

        &:hover {
            background-color: #eaeded;

            .content-child-icon {
                color: #0f1111;
            }
        }
    }
}

.content-child-text,
.content-item-link,
.help-settings-text,
.help-settings-globe-text,
.help-settings-flag-text {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    line-height: 16px;
    font-weight: 600;
    color: var(--modal-text-color);
    padding: 13px 20px 13px 36px;
}

.content-child-icon {
    font-size: 1.4rem;
    color: var(--modal-icon-color);
    position: absolute;
    right: 20px;
}
.help-settings-group {
    li {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #eaeded;
        }
    }
}
.help-settings-icon {
    font-size: 1.4rem;
    color: #d3d5d8;
    margin-right: 10px;
}

.help-settings-flag {
    height: 11px;
    margin-right: 2px;
}
// animation
.content-item,
.content-back-btn {
    animation: slideOut linear 0.2s;
}

.first-cover-divider,
.content-item-first-cover,
.content-more-icon,
.content-less-icon {
    animation: slideIn linear 0.2s;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}
