.wrapper {
    --home-bg-color: #e3e6e6;
    background: var(--home-bg-color);
}

.banner {
    max-width: 1500px;
    margin: 0 auto;
}

.container {
    margin-top: -370px;
    position: relative;
}

.content {
    padding: 0 10px;
    max-width: 1480px;
    margin: 0 auto;
}

.cart-layout {
    padding: 20px 0;
}

.cart-item {
    height: 420px;
    min-height: 420px;
    max-width: 400px;
    min-width: 290px;
    background: var(--white);
}

.feed-carousel {
    padding: 10px 20px;
    background: var(--white);
}

/* Mobile & Tablet */
@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}
