.banner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: 600px;
    background-color: rgb(128, 210, 210);
}

.container {
    padding: 0 12px !important; // Fix để không bị tăng width, chưa biết lí do
}

.content {
    margin-top: -350px;
    padding: 0 20px;
}

.item {
    height: 420px;
    min-height: 420px;
    background-color: rgb(222, 205, 205);
}
