.wrapper {
    min-width: 998px;
    padding: 14px 18px 18px;
    margin: 0 auto;
    background-color: #eaeded;
}

.container {
    max-width: 1500px;
    margin: auto;
    display: flex;
}

// Main side
.main-side {
    width: calc(100% - 300px);
    padding-right: 20px;
}

.main-side-container {
    padding: 20px 0 15px 0;
    margin-bottom: 20px;
    background: var(--white);
}

.main-side-content {
    padding: 0 20px 5px 20px;
    overflow: hidden;
}

.divider {
    color: #ddd;
}

.main-header {
    position: relative;
    margin-bottom: 14px;

    h2 {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 3.6rem;
        margin-bottom: 6px;
    }

    .main-header-deselect,
    .main-header-select {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--dark-green);
        cursor: pointer;

        &:hover {
            color: var(--orange);
            text-decoration: underline;
        }
    }

    .main-header-price {
        position: absolute;
        right: 0;
        bottom: -16px;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--gray);
    }

    .main-header-no-items {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--black);

        span {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 2rem;
            color: var(--dark-green);
            cursor: pointer;

            &:hover {
                color: var(--orange);
                text-decoration: underline;
            }
        }
    }
}

.main-total {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    margin-right: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black);

    span:last-child {
        font-weight: 700;
    }
}

.main-no-total {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    margin-right: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black);
}

// Right Side
.right-side {
    width: 300px;
}

.right-checkout-container {
    padding: 20px 0 15px 0;
    margin-bottom: 20px;
    background-color: var(--white);
}

.right-checkout-content {
    padding: 0 20px 5px;
}

.right-header {
    margin-top: 4px;
}

.right-total {
    margin-bottom: 4px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black);

    span:last-child {
        font-weight: 700;
    }
}

.right-no-total {
    margin-bottom: 4px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black);
}

.right-checkout-btn {
    margin-top: 14px;
    height: 32px;
    border-radius: 99px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--yellow);

    &:hover {
        background: #f7ca00;
        border-color: #f7ca00;
    }

    &:focus-within {
        outline: 3px solid #007185;
        outline-offset: 2px;
    }
}

.checkout-btn-popover {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 17px;
        right: -5px;
        height: 10px;
        width: 10px;
        rotate: 45deg;
        border-right: 1px solid #bbb;
        border-top: 1px solid #bbb;
        background-color: var(--white);
        cursor: pointer;
    }
}

.checkout-btn-wrapper {
    padding: 12px 14px;
    border-radius: 8px;
}

.checkout-btn-text {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);
}

.right-banner-container {
    border-radius: 8px;
    background-color: #fff;
    border: 1px var(--border-color) solid;
}

.right-banner-content {
    padding: 14px 18px;
}

.banner-header {
    padding-bottom: 5px;

    h3 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
    }
}

.banner-group {
    margin-top: 12px;
}
