.wrapper {
    height: 100%;
    margin-bottom: 12px;
    text-align: left;
    border: 1px solid #f5f5f5;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    animation: fadeIn linear 0.5s;
}

.container {
    display: block;
}

.card-tag {
    margin: 2px 0 2px 2px;

    span {
        padding: 6px 8px;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 5px;
        color: var(--white);
        background-color: var(--black);
    }
}

.card-space {
    height: 28px;
}

.card-img-wrapper {
    padding: 0 8px;
    margin-bottom: 8px;
}

.card-img {
    overflow: hidden;
    position: relative;
    padding-top: 100%;
    cursor: pointer;

    img {
        max-width: 100%;
        max-height: 100%;
        min-height: 80%;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.card-content {
    padding: 0 8px;
    margin-bottom: 18px;
}

.card-description {
    max-height: 100px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    letter-spacing: normal;
    text-align: left;
    word-wrap: break-word;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);

    &:hover {
        color: var(--orange);
    }
}

.card-brand {
    margin-top: 10px;

    span {
        padding: 4px 9px;
        background-color: var(--dark-green);
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 2px;
        cursor: text;
    }
}

.card-bought {
    cursor: text;

    span {
        font-size: 1.4rem;
        line-height: 2rem;
        color: var(--gray);
    }
}

.card-price-group {
    margin-top: 6px;
}

.card-price {
    display: inline-block;
    font-size: 2.4rem;
    color: var(--black);

    span:first-child {
        position: relative;
        top: -7px;
        font-size: 1.3rem;
        font-weight: 600;
    }
}

.card-original-price {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 600;
    margin-left: 4px;
    color: var(--gray);
    span:last-child {
        text-decoration: line-through;
    }
}

.card-delivery {
    padding-top: 4px;
    font-size: 1.4rem;
    color: var(--black);
    cursor: text;

    span:first-child {
        margin-right: 6px;
    }

    span:last-child {
        font-weight: 600;
    }
}

.card-ship {
    display: block;
    white-space: nowrap;
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 4px 0;
    color: var(--black);
    cursor: text;
}

.card-btn {
    padding: 8px 11px;
    margin-top: 7px;
    border-radius: 99px;
    font-size: 1.3rem;
    background-color: #ffd814;
    cursor: pointer;

    &:hover {
        background: #f7ca00;
        border-color: #f7ca00;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
