.wrapper {
    position: relative;
    max-height: 600px;
}

.arrow-btn-group {
    position: absolute;
    top: 250px;
    height: 350px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(227, 230, 230, 0), rgba(227, 230, 230, 1));
}

.arrow-btn {
    position: absolute;
    top: -250px;
    height: 250px;
    width: 84px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;

    &:focus {
        box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;
    }
}

.arrow-left-btn {
    left: 0;
}

.arrow-right-btn {
    right: 0;
}

.arrow-left-icon,
.arrow-right-icon {
    height: 36px;
    color: #6f7373;
}

.slide-link {
    display: block;
    max-height: 600px;
}

.slide {
    max-height: 600px;
    height: 100%;
}

.slide-hidden {
    display: none;
}

.slide-right {
    animation: slideRight ease-in-out 0.2s;
}
.slide-left {
    animation: slideLeft ease-in-out 0.2s;
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
