.wrapper {
    max-width: 1800px;
    margin: 0 5px;
    padding-top: 14px;
}

// Sidebar
.sidebar {
    margin-left: 16px;
}

.brand-filter {
    margin-bottom: 20px;
}

.brand-header {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 6px;
    color: var(--black);

    &:hover {
        color: var(--orange);
    }
}

.brand-filter-clear {
    background-color: var(--white);
    cursor: pointer;
    span {
        margin-left: 4px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--black);
    }
}

.brand-filter-clear-icon {
    font-size: 1.4rem;
}

.brand-filter-group {
    list-style: none;
}

.filter-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    input[type='checkbox'] {
        transform: scale(1.3);
        cursor: pointer;
        accent-color: var(--dark-green);
    }

    label {
        margin-left: 6px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--black);
        cursor: pointer;

        &:hover {
            color: var(--orange);
        }
    }
}

.sidebar-filter {
    margin-bottom: 20px;
}

.sidebar-filter-header {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 6px;
    color: var(--black);

    &:hover {
        color: var(--orange);
    }
}

.sidebar-filter-group {
    list-style: none;
}

.sidebar-filter-item {
    span {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--black);

        &:hover {
            color: var(--orange);
        }
    }
}

// Content
.content {
    background-color: yellow; //
}

.card-item {
    background-color: antiquewhite; //
    height: 200px; //
    margin-bottom: 10px; //
}
