.wrapper {
    --nav-item-height: 50px;

    height: var(--default-layout-header-height);
    width: 100%;
}

//Nav with logo
.nav-belt {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
}

// Nav Left
.nav-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.nav-logo-link {
    display: inline-flex;
    height: var(--nav-item-height);
    padding: 0 8px;
    position: relative;
    z-index: 9999; // z-index 4 số
}

.nav-logo {
    color: var(--white);
    margin: 1px;
    padding: 0 7px 0 5px;
}

.nav-deliver-to,
.nav-language,
.nav-lists-account,
.nav-orders {
    display: flex;
    align-items: center;
    height: var(--nav-item-height);
    padding: 0 8px 0 6px;
    margin: 5px 2px 5px 5px;
    cursor: pointer;
    position: relative;
    z-index: 9999; // z-index 4 số
}

.nav-location {
    margin-top: 8px;
    color: var(--white);
    font-size: 1.8rem;
}

.nav-text,
.nav-lists-account-text,
.nav-orders-text {
    margin-left: 4px;

    span {
        display: block;
        color: var(--white);

        &:first-child {
            font-size: 1.2rem;
            line-height: 1.4rem;
            height: 14px;
            font-weight: 400;
        }
        &:nth-child(2) {
            padding-bottom: 1px;
            font-size: 1.4rem;
            line-height: 1.5rem;
            font-weight: 700;
        }
    }
}

// Nav Right
.nav-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav-language-icon {
    color: var(--white);
    font-size: 1.8rem;
}

.nav-language-text {
    margin-left: 4px;
    position: relative;

    span {
        display: block;
        color: var(--white);
        margin-right: 10px;
        padding-bottom: 1px;
        font-size: 1.4rem;
        line-height: 1.5rem;
        font-weight: 700;
    }
}
.nav-language-down-icon {
    position: absolute;
    top: 7px;
    right: 0px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 5px solid #a7acb2;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.nav-lists-account-icon {
    display: inline-block;
    padding: 0 0 1px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 5px solid #a7acb2;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.nav-cart {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: var(--nav-item-height);
    padding: 0 8px 0 6px;
    margin: 5px 2px 5px 5px;
    cursor: pointer;
    z-index: 9999; // z-index 4 số
}

.nav-cart-group {
    color: var(--white);
}

.nav-cart-icon {
    position: relative;
    top: 0px;
    height: 40px;
    width: 40px;
}

.nav-cart-count {
    position: absolute;
    top: 7px;
    left: 18px;
    color: #f08804;
    font-size: 1.7rem;
    font-weight: 700;
}

.nav-cart-text {
    display: block;
    margin: 0 0 10px 0px;
    color: var(--white);
    padding-bottom: 1px;
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 700;
}

// NAV Hover
.nav-logo-link,
.nav-deliver-to,
.nav-language,
.nav-lists-account,
.nav-orders,
.nav-cart,
.nav-main-item {
    &:hover {
        border-radius: 2px;
        outline: var(--white) solid 1px;
    }
}

.nav-main-item {
    &:hover {
        border-radius: 2px;
        border: 1px solid var(--white);
    }
}

// Nav main
.nav-main {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #232f3e;

    div:first-child {
        margin-left: 10px;
    }
}

.nav-main-item {
    display: flex;
    align-items: center;
    height: calc(var(--nav-item-height) - 10px);
    padding: 0 8px 0 6px;
    cursor: pointer;
    position: relative;
    z-index: 9999; // z-index 4 số
}

.nav-main-all-icon {
    color: var(--white);
    font-size: 2.5rem;
}
.nav-main-all-text {
    margin-left: 5px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-main-link {
    margin-left: 4px;
    color: var(--white);
    font-size: 1.4rem;
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}
