.wrapper {
    padding: 0 20px 20px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container {
    padding: 10px;
}

.content {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.header-text {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--black);
}

.header-pagination {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
}

.carousel-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-group {
    max-width: 1372px;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    list-style-type: none;
    height: 100%;

    li {
        width: calc(100% / 7);
    }
}

.carousel-content-hidden {
    display: none;
}

.carousel-slide-left {
    animation: slideLeft ease-in-out 0.4s;
}

.carousel-slide-right {
    animation: slideRight ease-in-out 0.4s;
}

.arrow-btn {
    position: relative;
    top: -18px;
    height: 42px;
    width: 42px;
    overflow: visible;
    min-height: 1px;
    border-radius: 8px;
    border: 1px solid #888c8c;
    background: var(--white);
    cursor: pointer;

    &:focus {
        border-color: #888c8c;
        outline: 3px solid var(--dark-green);
        outline-offset: 2px;
        box-shadow: none;
    }
}

.arrow-left-btn {
    margin-left: 5px;
}

.arrow-right-btn {
    margin-right: 5px;
}
.arrow-left-icon,
.arrow-right-icon {
    color: #888c8c;
    font-size: 1.6rem;
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
