.wrapper {
    --right-side-width: 290px;
    min-width: 998px;
    padding: 14px 18px 18px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #dddddd;
    height: 60px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(221, 221, 221, 1));
}

.header-content {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--black);
    cursor: pointer;
    margin-left: 12px;
}

.header-text {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;

    span {
        color: var(--dark-green);
        cursor: pointer;
    }
}

.header-img {
    width: 17.43%;
    text-align: center;
}

.container {
    display: flex;
    margin: auto;
    padding: 14px 18px 18px;
    max-width: 1150px;
    min-width: 998px;
}

// Main Side
.main-side {
    flex: 1;
    padding-right: 3.5%;
    max-width: calc(100% - var(--right-side-width));
}

.main-address {
    width: 100%;
    margin-bottom: 8px;
}

.address-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--orange);
    margin-bottom: 8px;

    span {
        margin-right: 8px;
    }
}

.address-content {
    padding-left: 35px;
    margin-bottom: 20px;
}

.address-group {
    border-radius: 8px 8px 0 0;
    border: 1px var(--border-color) solid;
    padding: 14px 18px;
}

.address-heading {
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
}

.address-full {
    margin-top: 20px;
    padding: 9px;
    border: 1px solid #fbd8b4;
    border-radius: 5px;
    background-color: #fcf5ee;
    display: flex;
    align-items: center;
}

.location-icon {
    display: inline-block;
    margin: 0 8px;

    img {
        height: 24px;
    }
}

.address-name {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--black);
    margin-right: 6px;
}

.address-street,
.address-city,
.address-zip-code,
.address-nation {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);
    margin-right: 6px;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    overflow: hidden;
}

.address-edit {
    overflow: hidden;
    padding: 12px 18px 11px;
    font-weight: 700;
    border-radius: 0 0 8px 8px;
    border: 1px var(--border-color) solid;
    background: #f0f2f2;
}

.edit-address-btn {
    padding: 0 12px;
    height: 29px;
    border-radius: 99px;
    font-weight: 600;
    background-color: var(--yellow);
    cursor: pointer;

    &:hover {
        background: #f7ca00;
        border-color: #f7ca00;
    }
}

.main-payment {
    margin-bottom: 18px;
    margin-top: 18px;
}

.payment-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--orange);
    margin-bottom: 8px;

    span {
        margin-right: 8px;
    }
}

.payment-content {
    padding-left: 35px;
}

.payment-method {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 8px;
    border: 1px var(--border-color) solid;
    background: #f0f2f2;

    h3 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
    }
}

.payment-icon {
    display: flex;
    align-items: center;
    margin-left: 12px;

    img {
        height: 32px;
    }
}

// Review and shipping
.main-shipping {
    margin-top: 18px;
}

.shipping-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--orange);
    margin-bottom: 8px;

    span {
        margin-right: 8px;
    }
}

.shipping-container {
    padding-left: 35px;
}

.shipping-content {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    margin: 18px 0;
    border-radius: 8px;
    border: 1px var(--border-color) solid;
}

.shipping-review {
    width: calc(66.666667% - 8px);
}

.shipping-delivery {
    flex: 1;
    margin-left: 16px;
}

.delivery-title {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--black);
}

.delivery-input {
    margin: 8px 0 0 4px;
}

.delivery-option {
    display: flex;
    align-items: flex-start;
    position: relative;

    input[type='radio'] {
        position: absolute;
        top: 4px;
        transform: scale(1.4);
        cursor: pointer;
    }
}

.delivery-option + .delivery-option {
    margin-top: 8px;
}

.delivery-day-price {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.6rem;
    line-height: 2rem;

    .delivery-day {
        color: #007600;
        font-weight: 700;
        margin-bottom: 4px;
    }

    .delivery-price {
        color: var(--red);
    }

    .delivery-priority {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--gray);
    }
}

.shipping-total {
    display: flex;
    align-items: flex-start;
    padding: 18px;
    border-radius: 8px;
    border: 1px var(--border-color) solid;
    background-color: #f0f2f2;
}

.shipping-order-btn {
    width: 50%;

    button {
        padding: 0 24px;
        height: 40px;
        border-radius: 24px;
        font-weight: 600;
        background-color: var(--yellow);
        cursor: pointer;

        &:hover {
            background: #f7ca00;
            border-color: #f7ca00;
        }
    }
}

.shipping-policy {
    display: block;
    text-align: left;
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);

    span {
        color: var(--dark-green);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: var(--orange);
        }
    }
}

.shipping-payment {
    flex: 1;
    padding-left: 24px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: var(--red);
}

.shipping-more {
    display: block;
    text-align: left;
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);
}

.shipping-link {
    margin-right: 4px;
    color: var(--dark-green);
    text-decoration: underline;

    &:hover {
        color: var(--orange);
    }
}

// Right Side
.right-side {
    width: var(--right-side-width);
}

.right-summary {
    border-radius: 8px 8px 0 0;
    border: 1px var(--border-color) solid;
    padding: 14px 18px;
}

.summary-text {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: var(--black);
}

.summary-title {
    margin: 14px 0 18px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--black);
}

.summary-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.summary-left {
    display: flex;
    flex-direction: column;

    span {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--black);
    }

    span:nth-child(3) {
        margin-top: 12px;
    }

    span:nth-child(5) {
        color: var(--dark-green);
        cursor: pointer;

        &:hover {
            color: var(--orange);
            text-decoration: underline;
        }
    }
}

.summary-right {
    display: flex;
    flex-direction: column;
    text-align: right;

    span {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--black);
    }
}

.summary-divider {
    flex-grow: 0;
    margin: 6px 0 6px -14px;
    color: var(--border-color);
}

.summary-total {
    display: flex;
    justify-content: space-between;
    margin: 12px 0 10px 0;

    span {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
        color: var(--red);
    }
}

.right-below {
    border-radius: 0 0 8px 8px;
    border: 1px var(--border-color) solid;
    padding: 14px 18px;
    background-color: #f0f2f2;
}

.below-text {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black);

    span {
        color: var(--dark-green);
        cursor: pointer;

        &:hover {
            color: var(--orange);
            text-decoration: underline;
        }
    }
}

// Edit address modal
.address-modal ~ .overlay {
    display: block;
}

.address-modal {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99; // z-index 2 số

    animation: easeIn linear 0.3s;
}

.modal-wrapper {
    padding: 0;
    border-radius: 8px;
    max-height: unset;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 14px 0 rgba(15, 17, 17, 0.5);
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid var(--border-color);
    background-color: #f0f2f2;

    h3 {
        padding: 16px 0;
        min-height: 56px;
        margin-right: 28px;
        line-height: 24px;
        font-size: 16px;
    }
}

.modal-icon {
    height: 20px;
    width: 20px;
    margin-right: -12px;
    padding: 12px;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        outline: 3px solid #007185;
        outline-offset: 2px;
        border-radius: 5px;
    }
}

.modal-container {
    padding: 16px 24px;
}

.modal-content {
    width: 40vw;
    max-width: 540px;
    margin-bottom: 14px;
}

.modal-heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
}

.modal-text {
    display: block;
    padding-top: 4px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.modal-group {
    min-width: 150px;
    margin-bottom: 8px;
}

.group-title {
    padding: 0 0 2px 2px;
    margin-bottom: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--black);
}

.modal-input {
    width: 100%;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    outline: 0;
    border-radius: 4px;
    border: 1px solid #888c8c;
    box-shadow: 0 1px 2px rgba(15, 17, 17, 0.15) inset;
    font-size: 1.4rem;
    color: #0f1111;
    background-color: var(--white);

    &:focus {
        border-color: #007185;
        outline: 3px solid #007185;
        outline-offset: 2px;
        z-index: 1;
    }
}

.modal-btn {
    padding: 4px 18px;
    margin-top: 12px;
    height: 29px;
    border-radius: 99px;
    font-weight: 600;
    background-color: var(--yellow);
    cursor: pointer;

    &:hover {
        background: #f7ca00;
        border-color: #f7ca00;
    }
}

@keyframes easeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
.errorCountry,
.errorName,
.errorStreet,
.errorCity,
.errorZipCode {
    border-color: #cc0c39;
    box-shadow: 0 0 0 1px #cc0c39 inset;
}

.error-input-text {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: #cc0c39;
}

.error-input-icon {
    font-size: 1.4rem;
}
